 

 h1{
     font:bold 20px tahoma;
}
 h2{
     font:bold 14px tahoma;
}
 header,section,footer,aside,nav,article,hgroup{
   display:block;
}
 body{
    text-align:center;
}
#big_wrapper{
    border:1px solid black;
    width:1000px;
    margin:20px auto;
    text-align:left;
}
#top_header{
    background-color:yellow;
    border: 1px solid blue;
    padding: 20px;
}
#top_menu li{
    background-color:blue;
    color:white;
}